html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
}

.container {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  max-width: 200px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content nav {
  display: flex;
  align-items: flex-end;
}

.btn {
  padding: 5px 10px;
  display: inline-block;

}

.btn-blue {
  background: blue;
  color: white;
}

.hero {
  text-align: center;
  height: 420px;
  width: 100%;
  background-image: url('/images/hero.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.hero-content {
  background: rgb(255, 255, 255, 0.7);
  width: 100%;
  padding: 30px 0;
}

.hero-content h1 {
  font-size: 48px;
  margin: 10px 0;
}

.hero-content h3 {
  margin: 10px 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 280px;
  width: 320px;
  padding: 10px;
}

.card > header {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  border-radius: 10px;
  height: 420px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card > header > img {
  height: inherit;
  width: auto;
  object-fit: cover;
}

.card .content {
  padding: 5px;
}

.card h3,
.card p {
  margin-top: 18px;
}

.card footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.contact {
  padding: 40px 0;
  background-color: lavender;
}

form {
  width: 40%;
  margin: 0 auto;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.form-input label {
  font-size: 14px;
  line-height: 32px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;

}

.form-input input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

.form-textarea label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}
.form-textarea textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

.btn-form {
  background: black;
  border: 0;
  padding: 8px 18px;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
}
